@model IEnumerable<AppointmentWebApp.BussinessModel.ViewModel.UserViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-section">
    <div class="content">
        <div class="card">
            <div class="card-header">
                <a asp-action="Create" class="btn btn-dark">Create New User</a>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Username)</th>
                            <th>@Html.DisplayNameFor(model => model.Fullname)</th>
                            <th>@Html.DisplayNameFor(model => model.Email)</th>
                            <th>@Html.DisplayNameFor(model => model.Status)</th>
                            <th>@Html.DisplayNameFor(model => model.UserRoleId)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Username)</td>
                                <td>@Html.DisplayFor(modelItem => item.Fullname)</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                <td>@Html.DisplayFor(modelItem => item.UserRoleId)</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.UserId }, new { @class = "btn btn-primary btn-sm" }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.UserId }, new { @class = "btn btn-info btn-sm" }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.UserId }, new { @class = "btn btn-danger btn-sm" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>